header {
    color: white;
    text-align: center;
    padding: 5px;
  }
  
  nav {
    background-color: #f2f2f2;
    text-align: center;
    padding: 5px;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: flex;
    padding: 8px;
    background-color: #dddddd;
  }
  h1 {
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  h2 {
    color: #333;
    font-family: 'Arial', sans-serif;
  }